<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>상품 리스트 보기</title>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
   
   <div class="panel panel-default">
       <h2 class="panel-heading">상품 리스트</h2>
       <table class="table">
           <tr>
               <th>상품번호</th>
               <th>상품사진</th>
               <th>상품이름</th>
               <th>가격</th>
           </tr>

           <% results.forEach(function(data,index){ %>
           <%
           var curCode = data._doc.pcode;
           var curPhoto = data._doc.photo;
           var curName = data._doc.name;
           var curPrice = data._doc.price;
           %>
           <tr>
               <td><%= curCode %></td>
               <td><img src="/uploads/<%= curPhoto %>" width=100px height=100px></td>
               <td><a href="/process/showproductinfo?code=<%= curCode %>"><%= curName %></a></td>
               <td><%= curPrice %></td>
           </tr>
           <% }) %>
           
       </table>       
   </div>
</body>
</html>