<html>
<head>
    <meta charset="UTF-8">
    <title>상품 찾기</title>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <style>        
        body > div{
            padding-top:30px;
        }
        
    </style>
</head>
<body>
   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/process/listproduct">Bag Shop</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" method='post' action="/process/searchproduct">
            <div class="form-group">
            <input type="text" name="name" class="form-control" value="검색할 단어를 입력" onblur="this.value='검색할 단어를 입력'" onfocus="this.value=''">
            </div>            
            <button type="submit" class="btn btn-success">Search</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <div class="panel panel-default">
       <h2 class="panel-heading">상품 리스트</h2>
       <table class="table">
           <tr>
               <th>상품번호</th>
               <th>상품사진</th>
               <th>상품이름</th>
               <th>가격</th>
           </tr>

           <% results.forEach(function(data,index){ %>
           <%
           var curCode = data._doc.pcode;
           var curPhoto = data._doc.photo;
           var curName = data._doc.name;
           var curPrice = data._doc.price;
           %>
           <tr>
               <td><%= curCode %></td>
               <td><img src="/uploads/<%= curPhoto %>" width=100px height=100px></td>
               <td><a href="/process/showproductinfo?code=<%= curCode %>"><%= curName %></a></td>
               <td><%= curPrice %></td>
           </tr>
           <% }) %>
       </table>

    </div>
    <a href="/process/listproduct">메인으로</a>
</body>
</html>