<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Untitled Document</title>
	<!-- 합쳐지고 최소화된 최신 CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">


	<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<!-- Custom styles for this template -->
	<link href="http://bootstrapk.com/examples/dashboard/dashboard.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<script>
		$(document).ready(function(){
			$('#updateBtn').on('click',function(){
				if($('#category').val().length < 2 || $('#category').val().length >= 40) {
					alert('카테고리는 2자 ~ 40자 이내로 작성해 주세요');
					return;
				}
				else if($('#name').val().length < 2 || $('#name').val().length >= 30) {
					alert('이름은 2자 ~ 30자 이내로 작성해 주세요');
					return;
				}
				
				else if(!$.isNumeric($('#price').val())	|| ( 100 >= $('#price').val() || 100000000 < $('#price').val() ) ) {
					alert('가격은 100원에서 100000000원 사이의 값만 올 수 있습니다.');
					return;
				}
				else if($('#description').val() == '') {
					alert('상품 설명을 입력해 주세요.');
					return;
				}
				else
					$('#updateForm').submit();
			});
		});
	</script>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            	<span class="sr-only">Toggle navigation</span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
          		</button>
				<a class="navbar-brand" href="/admin/listproduct">Admin Page</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/process/listproduct">Main</a></li>
					<li><a href="/process/logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li class="active"><a href="/admin/listproduct">상품관리 <span class="sr-only">(current)</span></a></li>
					<li><a href="/admin/listmemeber">회원관리</a></li>
				</ul>

			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1 class="page-header">상품 수정</h1>
				<form method="post" enctype="multipart/form-data" action="/admin/updateproduct" id="updateForm">
					<div class="form-group">
						<label for="exampleInputEmail1">카테고리</label>
						<input type="text" class="form-control" id="category" name="category" value="<%=category%>">
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">상품명</label>
						<input type="text" class="form-control" id="name" name="name" value="<%=name%>">
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">가격</label>
						<input type="text" class="form-control" id="price" name="price" value="<%=price%>">
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">상품 설명</label>
						<textarea class="form-control" rows="5" id="description" name="description"><%=description%></textarea>
					</div>
					<div class="form-group">
						<label for="exampleInputFile">사진 업로드</label>
						<input type="file" id="photo" name="photo">
					</div>
					
					<button type="button" class="btn btn-default" id="updateBtn">수정</button>
					<button type="button" class="btn btn-default" onclick="location.href='/admin/listproduct'">취소</button>
					<input type="hidden" name="pcode" value="<%=pcode%>">
				</form>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="../../dist/js/bootstrap.min.js"></script>
	<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
	<script src="../../assets/js/vendor/holder.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>